/*  */
* { box-sizing: border-box; }

html {
  height: 100%;
}


.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0.1em;
  min-height: 100%;
  overflow: hidden;
  display: grid;
  font-size: 16px;
}

/* PRIMARY COMPONENTS */
.header {grid-area: header;}
.menu {grid-area: menu;}
.list {grid-area: list;}
.main {grid-area: main;}
.wrapper {
  display: grid;
  grid-template-columns: min-content min(30%, 40ch) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "menu list header"
    "menu list main";
  grid-gap: .1em;
}



/* MENU CONTENTS TBD */

/* LIST CONTENTS */
.list-menu {
  background-color: azure;
}
.list-notes {
  overflow-y: scroll;
}
.list-note {
  cursor: pointer;
}
.list-note-title {
  color: red;
}
.list-note p {
  color: black;
}
.list-note small {
  color: gray;
}
.list-note.active,
.list-note.active small
.list-note small {
  background: blue;
  color: white;
}

/* HEADER CONTENTS */
.header {
  color: black;
}

/* MAIN CONTENTS */
.main-no-active {
  text-align: center;
  height: calc(100vh - 2em);
  line-height: 100vh;
  font-size: 2em;
  color: black;
}

.main-edit input, textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(100vh - 10em);
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
  resize: none;
}

.main-edit input {
  height: 50px;
  font-size: 2em;
}


/* BOX DEFINE, possibly just for mockup */
.box {
  background-color: lightblue;
  border-color: darkblue;
  border-style: solid;
  color: darkblue;
  border-radius: 5px;
  padding: .5em;
  font-size: 1em;
}